.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 56px);
    padding: 0;
    margin: 0;
    flex-direction: column;
    background-image: linear-gradient(#8b9da9, #fff6e4);
    box-shadow: inset 0 0 100px hsla(0, 0%, 0%, .3);
}

.email-container,
.password-container {
    margin: 20px !important;
    width: 250px;
}

.register-button {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid rgb(116, 92, 202);
    border-radius: 0.6em;
    color: rgb(116, 92, 202);
    cursor: pointer;
    line-height: 1;
    padding: 0.8em 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.register-button:hover {
    box-shadow: 0 0 40px 40px rgb(116, 92, 202) inset;
    color: white;
}