.product-container {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.product-list {
    height: calc(100vh - 115px);
    overflow-y: scroll;
}

.MuiCardContent-root {
    margin: 0 !important;
    margin-left: 20px !important;
}

h2 {
    margin: 5px !important;
}

.product-container div {
    margin: 20px;
    height: 200px;
    width: 300px !important;
}